<% if(status==true){ %>
    <%- include('partials/redirectheader'); %>
        <% } else{ %>

            <%- include('partials/header'); %>
                <% } %>



                    <div class="container-fluid admitcard-div">
                        <div class="row">
                            <div class=" col col-12 col-md-4 col-sm-12 col">
                                <div class="main-headings">
                                    <h2>Latest Admit Card</h2>
                                </div>
                                <div class="list-group">
                                    <% latestAdmitCardArray.forEach((admitcard)=>{ %>
                                        <a href=<%=admitcard.link %> class="list-group-item list-group-item-action"><%= admitcard.title %> </a>
                                        <% }) %>
                                </div>
                            </div>
                            <div class="col col-12 col-md-4 col-sm-12 col">
                                <div class="main-headings">
                                    <h2>Expexted Admit Card</h2>
                                </div>
                                <div class="list-group">
                                    <% expectedAdmitCardtArray.forEach((admitcard)=>{ %>
                                        <a href=<%=admitcard.link %> class="list-group-item list-group-item-action"><%= admitcard.title %> (Expected Date : <%= admitcard.expectedDate %>) </a>
                                        <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include('partials/footer') %>