<% if(status==true){ %>
    <%- include('partials/redirectheader'); %>
        <% } else{ %>

            <%- include('partials/header'); %>
                <% } %>



                    <div class="container-fluid anskey-div">

                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <div class="anskey-heading main-headings">
                                    <h2>Latest Answer Key</h2>
                                </div>
                                <div class="list-group">
                                    <% latestAnskeyArray.forEach((anskey)=>{ %>
                                        <a href=<%=anskey.link %> class="list-group-item list-group-item-action"><%= anskey.title %> </a>
                                        <% }) %>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="anskey-heading main-headings">
                                    <h2>Upcoming Answer Key</h2>
                                </div>
                                <div class="list-group">
                                    <% expectedAnskeytArray.forEach((anskey)=>{ %>
                                        <a href=<%=anskey.link %> class="list-group-item list-group-item-action"><%= anskey.title %> (Expected Date : <%= anskey.expectedDate %>) </a>
                                        <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include('partials/footer') %>