<% if(status==true){ %>
    <%- include('partials/redirectheader'); %>
        <% } else{ %>

            <%- include('partials/header'); %>
                <% } %>


                    <div class="container ">
                        <div class="inner-container">
                            <div class="row ">
                                <% Array.forEach((newExam)=>{ %>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= newExam.title %>
                                            </h5>
                                            <p class="card-text">Starting Date :
                                                <%= newExam.startingDate %> <br> Last Date :
                                                    <%= newExam.lastDate  %>
                                            </p>
                                            <a href=<%=newExam.applyLink %> class="btn btn-primary">Apply</a>
                                            <a href=<%=newExam.descriptionLink %> class="btn btn-secondary btn-description">See Description</a>
                                        </div>
                                    </div>
                                    <% }) %>



                            </div>
                        </div>
                    </div>

                    <%- include('partials/footer') %>