<% if(status==true){ %>
    <%- include('partials/redirectheader'); %>
        <% } else{ %>

            <%- include('partials/header'); %>
                <% } %>


                    <div class="container">
                        <div class="inner-container">
                            <div class="row">
                                <% latestJobArray.forEach((latestJob)=>{ %>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= latestJob.title %>
                                            </h5>
                                            <p class="card-text">Starting Date : <b>
                                                <%= latestJob.startingDate %> </b><br> Last Date : <b>
                                                    <%= latestJob.lastDate  %> </b><br> Eligiblity : <b>
                                                        <%= latestJob.eligiblity  %> </b><br> Vacancy : <b>
                                                            <%= latestJob.vacancy %> </b>
                                            </p>
                                            <a href=<%=latestJob.applyLink %> target="_blank" class="btn btn-primary">Apply</a>
                                            <a href=<%=latestJob.descriptionLink %> target="_blank" class="btn btn-secondary btn-description">See Description</a>
                                        </div>
                                    </div>
                                    <% }) %>


                            </div>
                        </div>
                    </div>

                    <%- include('partials/footer') %>