<% if(status==true){ %>
    <%- include('partials/redirectheader'); %>
        <% } else{ %>

            <%- include('partials/header'); %>
                <% } %>



                    <div class="container-fluid result-div">
                        <div class="row">

                            <div class=" col col-12 col-md-4 col-sm-12">
                                <div class="main-headings">
                                    <h2>Latest Results</h2>
                                </div>
                                <div class="list-group">
                                    <% latestResultArray.forEach((result)=>{ %>
                                        <a href=<%=result.link %> class="list-group-item list-group-item-action"><%= result.title %></a>
                                        <% }) %>
                                </div>
                            </div>
                            <div class="col col-12 col-md-4 col-sm-12">
                                <div class="main-headings">
                                    <h2>Expexted Results</h2>
                                </div>
                                <div class="list-group">
                                    <% expectedResultArray.forEach((result)=>{  %>
                                        <a href=<%=result.link %> class="list-group-item list-group-item-action"><%= result.title %> (Expected Date : <%= result.expectedDate %>) </a>
                                        <% }) %>
                                </div>
                            </div>

                            <div class="col col-12 col-md-4 col-sm-12">
                                <div class="main-headings">
                                    <h2>Board Exam Results</h2>
                                </div>
                                <div class="list-group">
                                    <% boardResultArray.forEach((result)=>{ %>
                                        <a href=<%=result.link %> target="_blank" class="list-group-item list-group-item-action "><%= result.title %> </a>
                                        <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <%- include('partials/footer') %>